In [1]:
import pandas as pd

html=pd.read_html("https://en.wikipedia.org/wiki/Uttar_Pradesh")
html[2]

      Climate data for Uttar Pradesh                              \
                               Month           Jan           Feb
0         Mean daily maximum °C (°F)   29.9 (85.8)   31.9 (89.4)
1         Mean daily minimum °C (°F)   11.0 (51.8)   12.1 (53.8)
2  Average precipitation mm (inches)         0 (0)       3 (0.1)
3         Average precipitation days           0.1           0.3
4        Mean monthly sunshine hours         291.4         282.8
5                       Source: [85]  Source: [85]  Source: [85]

                                                                         \
            Mar           Apr           May           Jun           Jul
0   35.4 (95.7)   37.7 (99.9)   36.9 (98.4)   31.7 (89.1)   28.4 (83.1)
1   15.8 (60.4)   19.9 (67.8)   22.4 (72.3)   22.9 (73.2)   22.2 (72.0)
2       2 (0.1)      11 (0.4)      40 (1.6)     138 (5.4)     163 (6.4)
3           0.3           1.1           3.3          10.9          17.0
4         300.7         303.0         316.2         186.0         120.9
5  Source: [85]  Source: [85]  Source: [85]  Source: [85]  Source: [85]

                                                                         \
            Aug           Sep           Oct           Nov           Dec
0   27.4 (81.3)   29.4 (84.9)   31.4 (88.5)   30.1 (86.2)   28.9 (84.0)
1   21.6 (70.9)   20.8 (69.4)   18.5 (65.3)   14.4 (57.9)   11.5 (52.7)
2     129 (5.1)     155 (6.1)      68 (2.7)      28 (1.1)       4 (0.2)
3          16.2          10.9           5.0           2.4           0.3
4         111.6         177.0        248.44         270.0         288.3
5  Source: [85]  Source: [85]  Source: [85]  Source: [85]  Source: [85]


           Year
0   31.6 (88.9)
1   17.8 (64.0)
2    741 (29.2)
3          67.8
4       2896.34
5  Source: [85]

In [2]:
html[6]

,Rank (in India),District,Population,Growth Rate (%),Sex Ratio (Females per 1000 Males),Literacy Rate (%)
0,13,Prayagraj,5954391,20.63,901,72.32
1,26,Moradabad,4772006,25.22,906,56.77
2,27,Ghaziabad,4681645,42.27,881,78.07
3,30,Azamgarh,4613913,17.11,1019,70.93
4,31,Lucknow,4589838,25.82,917,77.29
5,32,Kanpur Nagar,4581268,9.92,862,79.65
6,41,Agra,4418797,22.05,868,71.58
7,50,Bareilly,4448359,22.93%,887,58.50

In [3]:
html[1]

,Timeline of reorganisation and name changes of UP[46],Timeline of reorganisation and name changes of UP[46].1
0,1807,Ceded and Conquered Provinces
1,14 November 1834,Presidency of Agra
2,1 January 1836,North-Western Provinces
3,3 April 1858,"Oudh taken under British control, Delhi taken ..."
4,1 April 1871,"Ajmer, Merwara & Kekri made separate commissio..."
5,15 February 1877,Oudh added to North-Western Provinces
6,22 March 1902,Renamed United Provinces of Agra and Oudh
7,3 January 1921,Renamed United Provinces of British India
8,1 April 1937,Renamed United Provinces
9,1 April 1946,Self rule granted
10,15 August 1947,Part of independent India
11,24 January 1950,Renamed Uttar Pradesh
12,9 November 2000,"Uttaranchal state, now known as Uttarakhand, c..."

In [4]:
html[3]

              0                                 1   2
0  State animal  Swamp deer (Rucervus duvaucelii) NaN
1    State bird   Sarus crane (Antigone antigone) NaN
2    State tree             Ashoka (Saraca asoca) NaN
3  State flower         Palash (Butea monosperma) NaN
4   State dance                            Kathak NaN
5   State sport                      Field hockey NaN

In [5]:
html=pd.read_html("https://en.wikipedia.org/wiki/Uttar_Pradesh")
type(html)

list

In [6]:
html[6].to_csv("uttar_pradesh_data.csv")

In [7]:
html=pd.read_html("https://en.wikipedia.org/wiki/Uttar_Pradesh",match="Growth Rate")
html
type(html)

list

In [8]:
html=pd.read_html("https://en.wikipedia.org/wiki/Uttar_Pradesh",match="Growth Rate")
html

[   Rank (in India)      District  Population Growth Rate (%)  \
 0               13     Prayagraj     5954391           20.63
 1               26     Moradabad     4772006           25.22
 2               27     Ghaziabad     4681645           42.27
 3               30      Azamgarh     4613913           17.11
 4               31       Lucknow     4589838           25.82
 5               32  Kanpur Nagar     4581268            9.92
 6               41          Agra     4418797           22.05
 7               50      Bareilly     4448359          22.93%

    Sex Ratio (Females per 1000 Males)  Literacy Rate (%)
 0                                 901              72.32
 1                                 906              56.77
 2                                 881              78.07
 3                                1019              70.93
 4                                 917              77.29
 5                                 862              79.65
 6                                 868              71.58
 7                                 887              58.50  ]

In [9]:
html

[   Rank (in India)      District  Population Growth Rate (%)  \
 0               13     Prayagraj     5954391           20.63
 1               26     Moradabad     4772006           25.22
 2               27     Ghaziabad     4681645           42.27
 3               30      Azamgarh     4613913           17.11
 4               31       Lucknow     4589838           25.82
 5               32  Kanpur Nagar     4581268            9.92
 6               41          Agra     4418797           22.05
 7               50      Bareilly     4448359          22.93%

    Sex Ratio (Females per 1000 Males)  Literacy Rate (%)
 0                                 901              72.32
 1                                 906              56.77
 2                                 881              78.07
 3                                1019              70.93
 4                                 917              77.29
 5                                 862              79.65
 6                                 868              71.58
 7                                 887              58.50  ]

In [10]:
#type of the html 

type(html)

list

In [11]:
html[0]

,Rank (in India),District,Population,Growth Rate (%),Sex Ratio (Females per 1000 Males),Literacy Rate (%)
0,13,Prayagraj,5954391,20.63,901,72.32
1,26,Moradabad,4772006,25.22,906,56.77
2,27,Ghaziabad,4681645,42.27,881,78.07
3,30,Azamgarh,4613913,17.11,1019,70.93
4,31,Lucknow,4589838,25.82,917,77.29
5,32,Kanpur Nagar,4581268,9.92,862,79.65
6,41,Agra,4418797,22.05,868,71.58
7,50,Bareilly,4448359,22.93%,887,58.50

In [12]:
html_lucknow=pd.read_html("https://en.wikipedia.org/wiki/Lucknow")
html_lucknow

[                            Lucknow  Lakhanaū (Hindi)  \
 0                                          Metropolis
 1   Skyline in Gomti NagarJaneshwar Mishra ParkBar...
 2           Seal of the Lucknow Municipal Corporation
 3   Nickname(s): The City of Lakshmana, The City o...
 4                   Interactive Map Outlining Lucknow
 5   LucknowLocation in Uttar PradeshLucknowLocatio...
 6   Coordinates: 26°51′N 80°57′E﻿ / ﻿26.850°N 80.9...
 7                                             Country
 8                                               State
 9                                            Division
 10                                           District
 11                                          Named for
 12                                         Government
 13                                             • Type
 14                                             • Body
 15                                            • Mayor
 16                           • Municipal Commissioner
 17                                            Area[1]
 18                                            • Total
 19                                             • Rank
 20                                          Elevation
 21                            Population (2024)[1][2]
 22                                            • Total
 23                                             • Rank
 24                                          • Density
 25                                           Demonyms
 26                                           Language
 27                                         • Official
 28                              • Additional official
 29                                         • Regional
 30                                          Time zone
 31                                         Pincode(s)
 32                                     Telephone code
 33                               Vehicle registration
 34                                        GDP Nominal
 35                                          Percapita
 36                     GDP Nominal (Lucknow District)
 37                                          Sex ratio
 38                     Effective literacy rate (2011)
 39                      International Cricket Stadium
 40                              Twin City/Sister City
 41                                      Rapid Transit
 42                              International Airport
 43                                                HDI
 44                                            Website

                           Lucknow  Lakhanaū (Hindi).1
 0                                          Metropolis
 1   Skyline in Gomti NagarJaneshwar Mishra ParkBar...
 2           Seal of the Lucknow Municipal Corporation
 3   Nickname(s): The City of Lakshmana, The City o...
 4                   Interactive Map Outlining Lucknow
 5   LucknowLocation in Uttar PradeshLucknowLocatio...
 6   Coordinates: 26°51′N 80°57′E﻿ / ﻿26.850°N 80.9...
 7                                               India
 8                                       Uttar Pradesh
 9                                             Lucknow
 10                                            Lucknow
 11                                          Lakshmana
 12                                         Government
 13                              Municipal Corporation
 14                      Lucknow Municipal Corporation
 15                             Sushma Kharakwal (BJP)
 16                                Inderjeet Singh IAS
 17                                            Area[1]
 18                                631 km2 (244 sq mi)
 19                                       5th in India
 20                                     123 m (404 ft)
 21                            Population (2024)[1][2]
 22                                            4000000
 23                                      11th in India
 24                           6,300/km2 (16,000/sq mi)
 25                                 LakhnawiLucknowite
 26                                           Language
 27                                           Hindi[3]
 28                                            Urdu[3]
 29                                          Awadhi[4]
 30                                     UTC+5:30 (IST)
 31                                     2260xx /2270xx
 32                                            +91-522
 33                                              UP-32
 34                                     $16 billion[5]
 35                           $2, 800 or ₹2.29 lakh[5]
 36                           ₹1,31,200 cr(2022–23)[6]
 37                                       915 ♀/1000 ♂
 38                                              85.5%
 39                       BRSABV Ekana Cricket Stadium
 40                                             Kanpur
 41                                      Lucknow Metro
 42       Chaudhary Charan Singh International Airport
 43                                  0.665[7] (medium)
 44                                   Official website  ,
    Climate data for Lucknow (Chaudhary Charan Singh International Airport) 1991–2020, extremes 1952–present  \
                                                                                                       Month
 0                                 Record high °C (°F)
 1                          Mean daily maximum °C (°F)
 2                                  Daily mean °C (°F)
 3                          Mean daily minimum °C (°F)
 4                                  Record low °C (°F)
 5                        Average rainfall mm (inches)
 6                                  Average rainy days
 7        Average relative humidity (%) (at 17:30 IST)
 8                           Average dew point °C (°F)
 9                           Average ultraviolet index
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Jan
 0                                         31.6 (88.9)
 1                                         21.4 (70.5)
 2                                         14.0 (57.2)
 3                                          7.8 (46.0)
 4                                         −1.0 (30.2)
 5                                         21.6 (0.85)
 6                                                 1.7
 7                                                  61
 8                                              9 (48)
 9                                                   5
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Feb
 0                                         35.9 (96.6)
 1                                         26.2 (79.2)
 2                                         18.4 (65.1)
 3                                         11.0 (51.8)
 4                                          0.0 (32.0)
 5                                         14.0 (0.55)
 6                                                 1.4
 7                                                  49
 8                                             12 (54)
 9                                                   7
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Mar
 0                                        41.1 (106.0)
 1                                         32.2 (90.0)
 2                                         23.8 (74.8)
 3                                         15.4 (59.7)
 4                                          5.4 (41.7)
 5                                         11.0 (0.43)
 6                                                 1.1
 7                                                  35
 8                                             13 (55)
 9                                                   9
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Apr
 0                                        45.0 (113.0)
 1                                        38.2 (100.8)
 2                                         29.6 (85.3)
 3                                         21.0 (69.8)
 4                                         10.9 (51.6)
 5                                          5.5 (0.22)
 6                                                 0.7
 7                                                  26
 8                                             14 (57)
 9                                                  11
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   May
 0                                        46.5 (115.7)
 1                                        39.9 (103.8)
 2                                         32.6 (90.7)
 3                                         24.8 (76.6)
 4                                         17.0 (62.6)
 5                                         24.5 (0.96)
 6                                                 2.0
 7                                                  32
 8                                             19 (66)
 9                                                  12
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Jun
 0                                        47.7 (117.9)
 1                                        38.3 (100.9)
 2                                         32.5 (90.5)
 3                                         26.7 (80.1)
 4                                         19.2 (66.6)
 5                                        107.4 (4.23)
 6                                                 5.1
 7                                                  49
 8                                             23 (73)
 9                                                  12
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Jul
 0                                        44.2 (111.6)
 1                                         34.2 (93.6)
 2                                         30.0 (86.0)
 3                                         26.0 (78.8)
 4                                         21.5 (70.7)
 5                                        238.5 (9.39)
 6                                                11.8
 7                                                  73
 8                                             26 (79)
 9                                                  12
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Aug
 0                                        40.4 (104.7)
 1                                         33.4 (92.1)
 2                                         29.5 (85.1)
 3                                         25.6 (78.1)
 4                                         21.2 (70.2)
 5                                        241.6 (9.51)
 6                                                10.6
 7                                                  77
 8                                             26 (79)
 9                                                  12
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Sep
 0                                        40.1 (104.2)
 1                                         33.4 (92.1)
 2                                         28.9 (84.0)
 3                                         24.4 (75.9)
 4                                         17.2 (63.0)
 5                                        162.1 (6.38)
 6                                                 7.2
 7                                                  73
 8                                             25 (77)
 9                                                  10
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Oct
 0                                        38.7 (101.7)
 1                                         32.8 (91.0)
 2                                         26.0 (78.8)
 3                                         19.5 (67.1)
 4                                         10.0 (50.0)
 5                                         27.9 (1.10)
 6                                                 1.4
 7                                                  62
 8                                             19 (66)
 9                                                   8
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Nov
 0                                        38.0 (100.4)
 1                                         29.0 (84.2)
 2                                         20.9 (69.6)
 3                                         13.3 (55.9)
 4                                          3.9 (39.0)
 5                                          2.5 (0.10)
 6                                                 0.4
 7                                                  59
 8                                             14 (57)
 9                                                   6
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...

                                                        \
                                                   Dec
 0                                         29.9 (85.8)
 1                                         23.6 (74.5)
 2                                         15.9 (60.6)
 3                                          8.9 (48.0)
 4                                          0.5 (32.9)
 5                                          4.7 (0.19)
 6                                                 0.5
 7                                                  63
 8                                             10 (50)
 9                                                   5
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...


                                                  Year
 0                                        47.7 (117.9)
 1                                         31.9 (89.4)
 2                                         25.2 (77.3)
 3                                         18.7 (65.7)
 4                                         −1.0 (30.2)
 5                                       861.4 (33.91)
 6                                                43.8
 7                                                  55
 8                                             18 (63)
 9                                                   9
 10  Source 1: India Meteorological Department[42][...
 11  Source 2: Weather Atlas,[46] Tokyo Climate Cen...  ,
             Constituency                        MLA         Political Party
 0           Lucknow West                Armaan Khan         Samajwadi Party
 1          Lucknow North            Dr. Neeraj Bora  Bharatiya Janata Party
 2           Lucknow East  Asutosh Tandon (Gopal Ji)  Bharatiya Janata Party
 3        Lucknow Central            Ravidas Mehotra         Samajwadi Party
 4          Lucknow Cantt             Brajesh Pathak  Bharatiya Janata Party
 5         Malihabad[123]              Jai Devi[124]  Bharatiya Janata Party
 6  Bakhshi Ka Talab[123]              Yogesh Shukla  Bharatiya Janata Party
 7     Sarojni Nagar[123]            Rajeshwar Singh  Bharatiya Janata Party
 8     Mohanlal Ganj[123]               Amresh Kumar  Bharatiya Janata Party,
              Year           Pop.             ±%
 0            1865         300000              —
 1            1871         284800          −5.1%
 2            1881         261300          −8.3%
 3            1891         273000          +4.5%
 4            1901         264000          −3.3%
 5            1911         259800          −1.6%
 6            1921         240600          −7.4%
 7            1931         274700         +14.2%
 8            1941         387177         +40.9%
 9            1951         496900         +28.3%
 10           1961         595400         +19.8%
 11           1968         763600         +28.2%
 12           1971         814000          +6.6%
 13           1981        1007604         +23.8%
 14           1991        1669204         +65.7%
 15           2001        2245509         +34.5%
 16           2011        2902601         +29.3%
 17  Source: [151]  Source: [151]  Source: [151],
   Religion in Lucknow City (2011)[152][153]  \
 0                                  Religion
 1                                  Hinduism
 2                                     Islam
 3                                   Sikhism
 4                              Christianity
 5                                    Others

   Religion in Lucknow City (2011)[152][153].1  \
 0                                    Religion
 1                                    Hinduism
 2                                       Islam
 3                                     Sikhism
 4                                Christianity
 5                                      Others

    Religion in Lucknow City (2011)[152][153].2  \
 0                                          NaN
 1                                          NaN
 2                                          NaN
 3                                          NaN
 4                                          NaN
 5                                          NaN

   Religion in Lucknow City (2011)[152][153].3  \
 0                                     Percent
 1                                      71.71%
 2                                      26.36%
 3                                       0.76%
 4                                       0.58%
 5                                       0.59%

   Religion in Lucknow City (2011)[152][153].4
 0                                     Percent
 1                                      71.71%
 2                                      26.36%
 3                                       0.76%
 4                                       0.58%
 5                                       0.59%  ,
                          Club         Sport  \
 0  Uttar Pradesh Cricket Team       Cricket
 1  Uttar Pradesh Cricket Team       Cricket
 2             Awadhe Warriors     Badminton
 3       Uttar Pradesh Wizards  Field hockey
 4        Lucknow Super Giants       Cricket
 5                   UP Yoddha       Kabaddi
 6                 UP Warriorz       Cricket
 7                   UP Rudras  Field hockey

                                                 Team  \
 0  Ranji Trophy Vijay Hazare Trophy Syed Musthaq ...
 1  Ranji Trophy Vijay Hazare Trophy Syed Musthaq ...
 2                           Premier Badminton League
 3                                Hockey India League

In [13]:
html_lucknow1=pd.read_html("https://en.wikipedia.org/wiki/Lucknow",match="MLA")
html_lucknow1

[            Constituency                        MLA         Political Party
 0           Lucknow West                Armaan Khan         Samajwadi Party
 1          Lucknow North            Dr. Neeraj Bora  Bharatiya Janata Party
 2           Lucknow East  Asutosh Tandon (Gopal Ji)  Bharatiya Janata Party
 3        Lucknow Central            Ravidas Mehotra         Samajwadi Party
 4          Lucknow Cantt             Brajesh Pathak  Bharatiya Janata Party
 5         Malihabad[123]              Jai Devi[124]  Bharatiya Janata Party
 6  Bakhshi Ka Talab[123]              Yogesh Shukla  Bharatiya Janata Party
 7     Sarojni Nagar[123]            Rajeshwar Singh  Bharatiya Janata Party
 8     Mohanlal Ganj[123]               Amresh Kumar  Bharatiya Janata Party]

In [14]:
html_lucknow[0].to_csv("polittical_party_lucknow.csv")

In [15]:
html[0].to_csv("ruff.csv")
html

[   Rank (in India)      District  Population Growth Rate (%)  \
 0               13     Prayagraj     5954391           20.63
 1               26     Moradabad     4772006           25.22
 2               27     Ghaziabad     4681645           42.27
 3               30      Azamgarh     4613913           17.11
 4               31       Lucknow     4589838           25.82
 5               32  Kanpur Nagar     4581268            9.92
 6               41          Agra     4418797           22.05
 7               50      Bareilly     4448359          22.93%

    Sex Ratio (Females per 1000 Males)  Literacy Rate (%)
 0                                 901              72.32
 1                                 906              56.77
 2                                 881              78.07
 3                                1019              70.93
 4                                 917              77.29
 5                                 862              79.65
 6                                 868              71.58
 7                                 887              58.50  ]

In [16]:
ruff=pd.read_csv("ruff.csv",usecols=['Growth Rate (%)','Literacy Rate (%)'])
ruff

  Growth Rate (%)  Literacy Rate (%)
0           20.63              72.32
1           25.22              56.77
2           42.27              78.07
3           17.11              70.93
4           25.82              77.29
5            9.92              79.65
6           22.05              71.58
7          22.93%              58.50

In [17]:
ruff.values

array([['20.63', 72.32],
       ['25.22', 56.77],
       ['42.27', 78.07],
       ['17.11', 70.93],
       ['25.82', 77.29],
       ['9.92', 79.65],
       ['22.05', 71.58],
       ['22.93%', 58.5]], dtype=object)

In [18]:
ruff1=pd.read_csv("ruff.csv",usecols=['Growth Rate (%)']).to_csv("growth_rate.csv")

In [19]:
print(ruff1)

None

In [20]:
ruff2=pd.read_csv("ruff.csv",usecols=['Literacy Rate (%)']).to_csv("literacy_rate.csv")

In [21]:
gro_rate=pd.read_csv("growth_rate.csv",index_col=0)
gro_rate

  Growth Rate (%)
0           20.63
1           25.22
2           42.27
3           17.11
4           25.82
5            9.92
6           22.05
7          22.93%

In [22]:
gro_rate.values

array([['20.63'],
       ['25.22'],
       ['42.27'],
       ['17.11'],
       ['25.82'],
       ['9.92'],
       ['22.05'],
       ['22.93%']], dtype=object)

In [23]:
lit_rate=pd.read_csv("literacy_rate.csv",index_col=0)
lit_rate

   Literacy Rate (%)
0              72.32
1              56.77
2              78.07
3              70.93
4              77.29
5              79.65
6              71.58
7              58.50

In [25]:
lit_rate.values

array([[72.32],
       [56.77],
       [78.07],
       [70.93],
       [77.29],
       [79.65],
       [71.58],
       [58.5 ]])

Index(['Rank (in India)', 'District', 'Population', 'Growth Rate (%)',
       'Sex Ratio (Females per 1000 Males)', 'Literacy Rate (%)'],
      dtype='object')