In [1]:
import pandas as pd 
from io import StringIO
df2=pd.read_csv("dataset.csv")
#df2

In [14]:
#string io 
#in memory file formate object

data = ('a,b,c\n'
        '4,apple,bat\n'
        '8,orange,cow\n')

df=pd.read_csv(StringIO(data),index_col=0)
df

        b    c
a
4   apple  bat
8  orange  cow

In [3]:
#string io 
#in memory file formate object

data = ('a,b,c\n'
           '4,apple,bat\n'
            '8,orange,cow')

df=pd.read_csv(StringIO(data),index_col=0).to_csv('test2.csv')
df

In [4]:
df2=pd.read_csv("dataset.csv",nrows=5)
print(df2)
print(df2.head())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

In [5]:
df2=pd.read_csv("dataset.csv",nrows=5,usecols=["math score", "reading score"])
df2

   math score  reading score
0          72             72
1          69             90
2          90             95
3          47             57
4          76             78

In [6]:
df2.values

array([[72, 72],
       [69, 90],
       [90, 95],
       [47, 57],
       [76, 78]], dtype=int64)

In [7]:
df2.head(3)

   math score  reading score
0          72             72
1          69             90
2          90             95

In [8]:
df2.rpow

<bound method DataFrame.rpow of    math score  reading score
0          72             72
1          69             90
2          90             95
3          47             57
4          76             78>

In [9]:
df2.head(5)

#indexing can be done by the following methods
# columname , rowindex[loc] , rowindex columnindex number[.iloc]

   math score  reading score
0          72             72
1          69             90
2          90             95
3          47             57
4          76             78

In [10]:
#slicing through usecolumn and nrows

df3=pd.read_csv("dataset.csv",usecols=['gender','race/ethnicity' ,'parental level of education'],nrows=5)
df3

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college