In [2]:
#read json (read json)
#To json (to_json)
#json normalize

import pandas as pd
# json verified formate
data='{"1":"ram","2":"ayush","3":"gagandeepdata","employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'

data

'{"1":"ram","2":"ayush","3":"gagandeepdata","employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'

In [8]:
df3=pd.read_csv("dataset.csv",usecols=['gender','race/ethnicity' ,'parental level of education'],nrows=5)
df3

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

In [9]:
df3.to_json()

'{"gender":{"0":"female","1":"female","2":"female","3":"male","4":"male"},"race\\/ethnicity":{"0":"group B","1":"group C","2":"group B","3":"group A","4":"group C"},"parental level of education":{"0":"bachelor\'s degree","1":"some college","2":"master\'s degree","3":"associate\'s degree","4":"some college"}}'

In [10]:
data='{"gender":{"0":"female","1":"female","2":"female","3":"male","4":"male"},"race\\/ethnicity":{"0":"group B","1":"group C","2":"group B","3":"group A","4":"group C"},"parental level of education":{"0":"bachelor\'s degree","1":"some college","2":"master\'s degree","3":"associate\'s degree","4":"some college"}}'
df=pd.read_json(data,orient='index')
df

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16464\176048475.py:2: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_json(data,orient='index')

,0,1,2,3,4
gender,female,female,female,male,male
race/ethnicity,group B,group C,group B,group A,group C
parental level of education,bachelor's degree,some college,master's degree,associate's degree,some college

In [11]:
df=pd.read_json(data,orient='records')
df

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16464\3086613082.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_json(data,orient='records')

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

In [12]:
data = [
    {
        "id": 1,
        "name": "Cole Volk",
        "fitness": {"height": 130, "weight": 60},
    },
    {"name": "Mark Reg", "fitness": {"height": 130, "weight": 60}},
    {
        "id": 2,
        "name": "Faye Raker",
        "fitness": {"height": 130, "weight": 60},
    },
]
df1=pd.json_normalize(data)
df1

    id        name  fitness.height  fitness.weight
0  1.0   Cole Volk             130              60
1  NaN    Mark Reg             130              60
2  2.0  Faye Raker             130              60